* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Register {
    width: 100%;
    height: 100vh;
    background-color: rgb(229, 125, 125);
    background-position: center;
    background-size: cover;
    position: relative;



}

.sign-form {
    background-color: white;
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    span {
        font-weight: 100;
        color: red;
    }

    .btn {
        width: 320px;
        height: 35px;
        background-color: rgb(229, 125, 125);
    }

    .part1 {
        //background-color: black;
        padding-top: 20px;
        color: black;
        font-weight: 100;

        a {
            text-decoration: none;
        }

    }

    .part2 a {

        text-decoration: none;
    }

    .part2 {
        text-align: start;
        padding-left: 33px;
        font-weight: 100;
    }


    h1 {
        font-size: 20px;
        color: rgb(229, 125, 125);
        margin-bottom: 50px;
        padding-top: 20px;

        position: relative;
    }

    h1::after {
        content: '';
        width: 30px;
        height: 4px;
        background-color: rgb(229, 125, 125);
        position: absolute;
        border-radius: 3px;
        bottom: -12px;
        left: 50%;
        transform: translate(-50%);


    }



    .input-field {
        // background-color: #eaeaea;
        background-color: #eaeaea;
        margin: 15px;

        display: flex;
        align-items: center;


        input {
            width: 100%;
            background-color: transparent;
            border: 0;
            outline: 0;
            padding-top: 5px;
            padding-bottom: 5px;

            border-radius: 3px;
        }

        i {
            margin-left: 15px;
            color: #9999;

        }
    }




}